body {
  text-align: center;
  font-family: "Roboto", monospace;
  color: white;
  background-color: black;

}


h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
}

input {
  border-radius: 25px;
  height: 50px;
  width: 400px;
  font-family: "Major Mono Display", monospace;
  margin: auto;
  font-size: 37px;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  height: 50px;
  width: 160px;
  font-size: 37px;
}

.difficulty-level {

  width: 100px;
  padding: 3px 0;
  margin: auto;;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: black;

}

.board {
  height: 220px;
  width: 60px;
  margin-bottom: 10px;
}

.board-word {
  border: 1px solid white;
  height: 40px;
  width: 130px;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.user-input {
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
  height: 400px;
  width: 1400px;
}

#difficulty {
  margin-bottom: 10px;
  margin: auto;
  font-family: "Major Mono Display", monospace;
}

#easy {
  color: lightgreen;
  border: 1px solid lightgreen;
}

#medium {
  color: yellow;
  border: 1px solid yellow;
}

#hard {
  color: red;
  border: 1px solid red;
}

#board {
  margin: auto;
}
